@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input-number.scss";
@import "~taro-ui/dist/style/components/swipe-action.scss";
.cart {
  .cart_content {
    .header {
      padding: 10rpx;
      padding-bottom: 24rpx;
      border-bottom: 1rpx solid #eee;
    }
    padding-bottom: 100rpx;
    .cart_list {
      .left_thumb {
        display: flex;
        align-items: center;
        radio-group {
          width: 50rpx;
          radio {
            width: 50rpx;
          }
        }
        image {
          flex: 1;
        }
      }
      .at-input-number__btn {
        color: #c00000;
      }
      .at-input-number--disabled {
        color: #ccc;
      }
    }
  }
  .cart_settle {
    position: fixed;
    bottom: 100rpx;
  }
}
