@import "~taro-ui/dist/style/components/icon.scss";
.goods_detail {
  .content {
    padding-bottom: 100rpx;
    .goods_info {
      display: flex;
      padding: 10rpx;
      .left {
        flex: 1;
        position: relative;
        .price {
          color: #c00000;
          font-size: 36rpx;
          margin: 10rpx 0;
        }
        .name {
          font-size: 26rpx;
        }
        .kuaidi {
          font-size: 24rpx;
          color: gray;
          margin: 10rpx 0;
        }
      }
      .right {
        width: 242rpx;
        height: 72rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        color: gray;
        .chouc {
          font-size: 26rpx;
        }
      }
    }
    .attr {
      padding: 10rpx;
      .title {
        color: #222;
        font-weight: 700;
        font-size: 30rpx;
        margin-bottom: 15rpx;
      }
      .attr_item {
        display: flex;
        text-align: center;
        &:last-child {
          border-bottom: 1rpx solid #333;
        }
        .name,
        .value {
          flex: 1;
          font-size: 24rpx;
          color: gray;
          border-top: 1rpx solid #333;
          border-right: 1rpx solid #333;
          box-sizing: border-box;
          line-height: 68rpx;
        }
        .name {
          font-weight: 700;
          border-left: 1rpx solid #333;
        }
      }
    }
  }
}
